{% extends 'base.html' %}
{% load humanize %}

{% block breadcrumbs %}
   
{% endblock %}

{% block content %}
<div class="row my-4">
    <div class="col-6">
        <img src="/media/{{object.main_image.image}}" class="img-fluid" alt="">
    </div>
    <div class="col-6">        
        <h4>{{object.name}}</h4>
        
        <p class="card-text">
            {{object.description}}
        </p>
        <p>
            {{object.price|intcomma}}
        </p>
        <p>
            <a href="{% url 'cart-added' object.id %}" class="btn btn-primary">Buy</a>     
        </p>
    </div>
</div>

<div class="my-4">
    <h3>Related Products</h3>
    
    {% if related_products %}
        <div class="row">
            
            {% for rp in related_products  %}
                <div class="col-3">
                    <div class="card">
                        <img src="/media/{{rp.main_image.image}}" class="p-2 card-img-top" alt="">
                        <div class="card-body">
                            <h4 class="card-title"><a href="{% url 'product-detail' rp.id %}">{{rp.name}}</a></h4>
                            <p class="card-text">
                                {{rp.description|truncatechars:100}}
                            </p>
                            <p>
                                IDR. {{rp.price|intcomma}}
                            </p>
                            
                        </div>
                    </div>
                </div>
            {% endfor %}
                
            
        </div>
    {% endif %}
        
</div>

{% endblock %}